.formTest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  padding: 20px;
}

.formTest > input {
  margin: 10px;
}

.red {
  border: 2px solid red;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1400px;
}

.modal-window {
  z-index: 1;
  width: 40vw;
  position: absolute;
  right: 5px;
}

.modal-close {
  fill: #000;
  z-index: 2;
  position: absolute;
  top: -35px;
  right: 322px;
}

.modal-close:hover {
  fill: #afaeae;
  cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.cart-menu {
  background-color: lightgray;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.cart-menu-buttonblock {
  border: 1px solid whitesmoke;
}

.cart-menu-button {
  background-color: #909397;
  border: 1px solid lightgrey;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 10px 20px 10px 0;
  background-color: #fff;
}

.cart-menu-button:hover {
  cursor: pointer;
  border: 1px solid lightseagreen;
  background-color: lightsteelblue;
}

.goods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.goods-search {
  border: none;
  margin: 0 20px 0 10px;
  padding: 15px 8px 0 8px;
  max-width: 210px;
  font-size: larger;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  color: #fff;
  text-align: center;
  font-size: large;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.goods-search:focus-visible {
  outline-style: none;
}

.goods-search::-webkit-input-placeholder {
  color: #fff;
}

.goods-search:-ms-input-placeholder {
  color: #fff;
}

.goods-search::-ms-input-placeholder {
  color: #fff;
}

.goods-search::placeholder {
  color: #fff;
}

.goods-item {
  margin: 10px 10px;
  padding: 10px;
  border: 1px solid lightgray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #e9e8e8;
}

.goods-item-pic {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100px;
}

.goods-item:hover {
  cursor: pointer;
  border: 1px solid lightseagreen;
  background-color: lightsteelblue;
}

.goods-item-btn {
  background-color: #909397;
  border: 1px solid lightgrey;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 10px 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.goods-item-btn:hover {
  cursor: pointer;
  border: 1px solid lightseagreen;
  background-color: lightsteelblue;
}

.goods-item-btn:active {
  color: #fff;
  background-color: #000;
}

.goods-item > h3, .goods-item p {
  margin: 5px 0;
}

.goods-total {
  background-color: #2c5a5c;
  padding: 10px 20px;
  text-align: end;
  color: #fff;
  font-size: 1.17em;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.basket {
  position: absolute;
  top: 60px;
  z-index: 2;
  background-color: white;
  /* padding: 0px; */
  right: 5px;
}

.basket-item:not(:last-of-type) {
  padding: 8px;
  border: 1px solid lightgrey;
  border-bottom: none;
}

.basket-item-btn {
  cursor: pointer;
}

.basket span {
  margin: 0 5px;
}

.basket::before {
  content: "";
  display: block;
  border: 12px solid transparent;
  border-bottom: 15px solid #fff;
  position: absolute;
  top: -26px;
  right: 11px;
}

.totalText {
  font-weight: 800;
  font-size: 1.5em;
  background-color: #a3a3a3;
  color: #fff;
  border: 1px solid lightgrey;
  border-top: none;
  padding: 10px;
}

.hide {
  display: none;
}
/*# sourceMappingURL=main.css.map */