@import 'form'; 

@mixin itemHover {
    cursor: pointer;
    border: 1px solid lightseagreen;
    background-color: lightsteelblue;
}
@mixin buttonSite {
    background-color: rgb(144, 147, 151);
    border: 1px solid lightgrey;
    padding: 6px 15px;
    // margin: 6px 20px;
    border-radius: 20px;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
}
.modal {
    
    &-window {
        z-index: 1;
        width: 40vw;
        // background-color: rgba(10,10,10,0.9);
        position: absolute;
        right: 5px;
    }

    &-close {
        fill: #000;
        z-index: 2;
        position: absolute;
        top: -35px;
        right: 322px;

        &:hover {
            fill: rgb(175, 174, 174);
            cursor: pointer;
        }
    }
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 1s ease-out;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.cart-menu {
        // width: 100vw;
        background-color: lightgray;
        min-height: 40px;
        display: flex;
        justify-content: space-between;
        padding: 10px;

    &-buttonblock {
        border: 1px solid whitesmoke;
    }

    &-button {
        @include buttonSite;
        margin: 10px 20px 10px 0;
        background-color: #fff;

        &:hover {
            @include itemHover;
        }
    }
}
.goods {

    &-list {
        display: flex;
        justify-content: center;
        margin: 20px auto;
        flex-wrap: wrap;
    }

    &-search {
        border: none;
        margin: 0 20px 0 10px;
        padding: 15px 8px 0 8px;
        max-width: 210px;
        font-size: larger;
        background-color: transparent;
        border-bottom: 2px solid #fff;
        color: #fff;
        text-align: center;
        font-size: large;
        align-self: baseline;

        &:focus-visible {
            outline-style: none;
        }

        &::placeholder {
            color:#fff;
        }
    }

    &-item {
        margin: 10px 10px;
        padding: 10px;
        border: 1px solid lightgray;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(233, 232, 232);

        &-pic {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: 100px;
        }

        // &-title {
        // }

        &:hover {
            @include itemHover;
        }

        &-btn {
            @include buttonSite;
            margin: 10px 0;align-self: flex-end;

            &:hover {
                @include itemHover;
            }

            &:active {
                color: #fff;
                background-color: #000;
            }
        }

        & > h3, p {
            margin: 5px 0;
        }
    }
}
.goods-total {
    background-color: rgb(44, 90, 92);
    padding: 10px 20px;
    text-align: end;
    color: #fff;
    font-size: 1.17em;
    font-weight: bold;
    margin: 0 0 20px 0;
}
.basket {
    position: absolute;
    top: 60px;
    z-index: 2;
    background-color: white;
    /* padding: 0px; */
    right: 5px;

    &-item:not(:last-of-type) {
        padding: 8px;
        border: 1px solid lightgrey;
        border-bottom: none;

    }

    &-item-btn {
        cursor: pointer;
    }
    
    & span {
        margin: 0 5px;
    }

    &::before {
        content: "";
        display: block;
        border: 12px solid transparent;
        border-bottom: 15px solid #fff;
        position: absolute;
        top: -26px;
        right: 11px;
    }
}
.totalText {
    font-weight: 800;
    font-size: 1.5em;
    background-color: rgb(163, 163, 163);
    color: #fff;
    border: 1px solid lightgrey;
    border-top: none;
    padding: 10px;
}
.hide {
    display: none;
}
