@import 'form'; 

@mixin itemHover {
    cursor: pointer;
    border: 1px solid lightseagreen;
    background-color: lightsteelblue;
}
@mixin buttonSite {
    background-color: #fff;
    border: 1px solid lightgrey;
    padding: 6px 15px;
    // margin: 6px 20px;
    border-radius: 20px;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
}
.modal {
    
    &-window {
        z-index: 1;
        width: 100vw;
        height: 100vh;
        background-color: rgba(10,10,10,0.9);
        position: absolute;
        overflow-y: hidden;
    }

    &-close {
        fill: #fff;
        z-index: 2;
        position: absolute;
        top: 30px;
        right: 30px;

        &:hover {
            fill: rgb(175, 174, 174);
            cursor: pointer;
        }
    }
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 1s ease-out;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.cart-menu {
        // width: 100vw;
        background-color: lightgray;
        min-height: 40px;
        display: flex;
        justify-content: space-between;
        padding: 10px;

    &-buttonblock {
        border: 1px solid whitesmoke;
    }

    &-button {
        @include buttonSite;
        margin: 10px 20px 10px 0;

        &:hover {
            @include itemHover;
        }
    }
}
.goods {

    &-list {
        display: flex;
        justify-content: center;
        margin: 20px auto;
        flex-wrap: wrap;
    }

    &-search {
        border: none;
        border-radius: 4px;
        margin: 0 20px 0 0;
        padding: 15px 8px 0 8px;
        min-width: 300px;
        font-size: larger;

        &:focus-visible {
            outline-style: none;
            background-color: whitesmoke;
        }
    }

    &-item {
        margin: 10px 10px;
        padding: 10px;
        border: 1px solid lightgray;
        align-items: center;
        display: flex;
        flex-direction: column;

        &-pic {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        // &-title {
        // }

        &:hover {
            @include itemHover;
        }

        &-btn {
            @include buttonSite;
            margin: 10px 0;align-self: flex-end;

            &:hover {
                @include itemHover;
            }

            &:active {
                color: #fff;
                background-color: #000;
            }
        }

        & > h3, p {
            margin: 5px 0;
        }
    }
}
.goods-total {
    background-color: rgb(44, 90, 92);
    padding: 10px 20px;
    text-align: end;
    color: #fff;
    font-size: 1.17em;
    font-weight: bold;
    margin: 0 0 20px 0;
}
.basket {
    position: absolute;
    top: 100px;
    z-index: 2;
    background-color: white;
    padding: 50px;
    right: 55px;
    max-height: 80vh;

    &-item:not(:last-of-type) {
        padding: 20px;
        border: 1px solid lightgrey;
        border-bottom: none;

        &-btn {
            cursor: pointer;
        }
    }
    
    & span {
        margin: 0 20px;
    }
}
.totalText {
    font-weight: 800;
    font-size: 1.5em;
    background-color: rgb(163, 163, 163);
    color: #fff;
    border: 1px solid lightgrey;
    border-top: none;
    padding: 10px;
}
.hide {
    display: none;
}
